@{
    ViewBag.Title = "Info @";
}


<div class="jumbotron">
    <h1>Design Ur Fixie</h1> <!--  line 4969 bootstrap for changes -->
    <p></p>
</div>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    22 Lower Dorset Street<br />
    Dublin 1<br />
    <abbr title="Phone">P:</abbr>
    083 1537861
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@DesignUrFixie.ie">Info@DesignUrFixie.ie</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@DesignUrFixie.ie">Marketing@DesignUrFixie.ie</a>
</address>

<div>
    <p>Opening Hours: </p>
    <p>Mon-Fri 08:30-19:00</p>
    <p>Sat 10:00-17:00</p>
    <p>Closed Sun</p>
</div>