@{
    ViewBag.Title = "Result Page";
}


    <div class="container">
    <div class="jumbotron">
        <h1>You Designed Your New Bike</h1>
        
    </div>
        <H2>Thank you for your order!</H2>
        <p> Bikes will be ready for collection in 5 working days.</p>
        <p>Please phone the store to confirm availability before arriving to collect your new bike.</p>
    </div>

 
    


